body {
  background: linear-gradient(36deg, #7fcec9, #35948e);
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow-y: hidden;
  font-family: "Noto Sans KR", sans-serif;
}

* {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  border-radius: 0.3em;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.3em;
}

button {
  background: linear-gradient(36deg, #7fcec9, #35948e);
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  font-weight: 900;
  font-size: 1.3em;
  color: rgba(255, 255, 255, 0.8);
}

.main__content {
  position: relative;
  width: 700px;
  height: 80vh;
  /* background: gold; */
  display: flex;
  justify-content: center;
}

.main__content .land {
  width: 306px;
  height: 306px;
  background-color: green;
  transform: perspective(500px) rotate(-40deg) skew(25deg);
  padding: 3px;
}

.land::before {
  content: "";
  width: 70px;
  height: 100%;
  background-color: brown;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: skewY(-38deg) translate(-70px, -27px);
  z-index: -2;
}

.land::after {
  content: "";
  width: 100%;
  height: 54px;
  background-color: darkred;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: skewX(-52deg) translate(33px, 53px);
  z-index: -2;
}

.main__content .meter__container,
#mainForm {
  position: absolute;
  top: 60%;
  width: 50%;
  margin: auto;
  transition: 0.5s ease-in;
}

#mainForm {
  width: 40%;
}

.main__content .meter__container .meter__board {
  display: grid;
  grid-template-rows: 1fr 2fr;
  color: #bdc3c7;
  background-color: #34495e;
  padding: 1em 1.5em;
  border-radius: 0.5em;
}

.meter__board .meter__board__column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meter__board .salary__container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: #bdc3c7;
}

.meter__board .salary__container .salary #salaryFront {
  font-size: 3.5em;
  margin-left: 0.3em;
  font-weight: 600;
}
.meter__board .salary__container .salary #salaryBack {
  font-size: 1.5em;
}
.currency {
  margin-bottom: 0.7em;
}

.hide {
  transform: translateY(300px);
}

#mainForm {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em;
  border-radius: 5px;
}
#mainForm .option__item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 1em;
  align-items: center;
}

#mainForm .option__item .option__title {
  text-align: right;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2em;
  font-weight: 900;
}

#mainForm .option__item .option__input {
  margin-left: 0.3em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
}

#date,
#meter {
  font-size: 1.3em;
  font-weight: 500;
}
